sonification-studio/node_modules/
sonification-studio/.DS_Store
sonification-studio/dist/
sonification-studio/.cache/
sonification-studio/vendor/
venv/
src/llm/__pycache__/routes.cpython-312.pyc
src/llm/__pycache__/routes.cpython-312.pyc
llm.log
llm.log
